version: '3.8'

services:
  primary:
    image: apache/activemq-artemis:latest
    container_name: primary
    # ports:
    #   - "61616:61616"
    #   - "8161:8161"
    volumes:
      - ./broker-master.xml:/var/lib/artemis-instance/etc-override/broker.xml

  backup:
    image: apache/activemq-artemis:latest
    container_name: backup
    # ports:
    #   - "61617:61616"
    #   - "8162:8161"
    volumes:
      - ./broker-backup.xml:/var/lib/artemis-instance/etc-override/broker.xml
